$cc-screen-xlg: 99999px;
$cc-screen-lg: 1440px;
$cc-screen-md: 900px;
$cc-screen-sm: 768px;
$cc-screen-xsm: 550px;

$cc-board-width: 318px;
$cc-board-height: 378px;
$cc-board-box-size: 106px;

$cc-color: rgb(0, 162, 232);